# üìä Media Campaign Performance - Exploratory Data Analysis
**Author:** Giorgi Dzebisashvili  
**Date:** jul-2025
**Project:** Media Spend Optimization Portfolio Project  

This notebook explores multi-channel digital advertising performance data. The goal is to:
- Inspect the dataset for quality and structure
- Compute key digital marketing metrics (CTR, ROAS, etc.)
- Prepare clean data for further analysis and dashboarding

In [4]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Show all columns when previewing
pd.set_option('display.max_columns', None)

# Load the dataset
df = pd.read_csv('../data/media_campaign_data.csv')

# Preview first few rows
df.head()

,Campaign Name,Channel,Date,Spend,Clicks,Impressions,Conversions,Revenue
0,Search Max,Google Ads,2025-05-01,143.64,383,9771,53,1308.07
1,Brand Awareness,Google Ads,2025-05-01,89.00,128,2876,17,701.12
2,Retargeting Boost,Google Ads,2025-05-01,55.15,164,3794,13,330.91
3,Engagement Surge,Meta Ads,2025-05-01,95.85,125,4041,14,402.32
4,Conversion Magnet,Meta Ads,2025-05-01,202.96,156,7221,16,538.91

## üìê Basic Dataset Info

Let‚Äôs check:
- Number of rows and columns
- Column data types
- Non-null counts

In [5]:
# Shape of the dataset
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

# Structure and datatypes
df.info()

Rows: 915, Columns: 8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915 entries, 0 to 914
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Campaign Name  915 non-null    object
 1   Channel        915 non-null    object
 2   Date           915 non-null    object
 3   Spend          915 non-null    float64
 4   Clicks         915 non-null    int64
 5   Impressions    915 non-null    int64
 6   Conversions    915 non-null    int64
 7   Revenue        915 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 57.3+ KB

## üìä Summary Statistics

Let‚Äôs view the statistical summary of numerical columns to check ranges and distributions.
This helps identify extreme values, zeros, or data entry errors.

In [7]:
df.describe()

            Spend      Clicks   Impressions  Conversions      Revenue
count  915.000000  915.000000    915.000000   915.000000   915.000000
mean   174.225574  256.300546   8709.314754    31.201093  1093.675038
std     72.020852  168.982929   4214.439630    24.365089   930.332631
min     51.890000   23.000000   1781.000000     1.000000    30.170000
25%    113.190000  130.000000   5089.000000    14.000000   423.930000
50%    173.160000  210.000000   8279.000000    25.000000   819.150000
75%    237.865000  344.000000  11511.000000    41.000000  1438.080000
max    299.040000  905.000000  20527.000000   156.000000  5918.170000

## üßπ Missing Values Check

Let‚Äôs verify that there are no missing values in critical columns like Spend, Impressions, Conversions, etc.

In [9]:
df.isnull().sum()

Campaign Name    0
Channel          0
Date             0
Spend            0
Clicks           0
Impressions      0
Conversions      0
Revenue          0
dtype: int64

## üß† Campaign and Channel Breakdown

Let‚Äôs see:
- How many platforms are in the dataset?
- Which campaigns exist and how often they appear?

In [10]:
# Unique values per channel
print("Channels:")
print(df['Channel'].value_counts(), '\n')

# Number of unique campaigns
print(f"Number of unique campaigns: {df['Campaign Name'].nunique()}")

Channels:
Channel
Google Ads    183
Meta Ads      183
YouTube       183
TikTok        183
LinkedIn      183
Name: count, dtype: int64

Number of unique campaigns: 15

## üìà Derived Metrics (CTR, CPC, CPA, ROAS)

Let‚Äôs calculate key performance indicators for campaign performance:
- **CTR (Click-Through Rate)**
- **CPC (Cost Per Click)**
- **CPA (Cost Per Acquisition)**
- **ROAS (Return on Ad Spend)**

We'll store these as new columns in the dataset.

In [12]:
# Avoid division errors by replacing 0 with NaN
df.replace(0, np.nan, inplace=True)

# Add calculated KPI columns
df['CTR'] = df['Clicks'] / df['Impressions']
df['CPC'] = df['Spend'] / df['Clicks']
df['CPA'] = df['Spend'] / df['Conversions']
df['ROAS'] = df['Revenue'] / df['Spend']

# Preview new columns
df[['CTR', 'CPC', 'CPA', 'ROAS']].describe()

              CTR         CPC         CPA        ROAS
count  915.000000  915.000000  915.000000  915.000000
mean     0.029470    0.868718    8.466572    6.338627
std      0.011386    0.480212    6.637698    4.367615
min      0.009861    0.286784    1.632566    0.558888
25%      0.019577    0.516015    4.225502    3.105384
50%      0.029814    0.726380    6.252903    5.397621
75%      0.038935    1.079767   10.349211    8.368631
max      0.049864    2.994625   51.920000   28.612318

## üßΩ Handle Invalid or Infinite Values

We‚Äôll clean up any invalid values in the calculated metrics caused by:
- Division by 0 (e.g. no clicks or no conversions)
- Infinite or undefined results

This is a key step before moving into visualization or dashboarding.

In [13]:
# Replace infinite values with NaN
df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Drop rows with NaN values in key metrics
df.dropna(subset=['CTR', 'CPC', 'CPA', 'ROAS'], inplace=True)

# Check final dataset shape
print(f"Cleaned rows remaining: {df.shape[0]}")

Cleaned rows remaining: 915

## üíæ Save Cleaned Dataset

Now that we've calculated and cleaned our key KPIs, we‚Äôll save the cleaned version of the dataset into the `data/clean/` folder for future analysis and dashboarding.

In [14]:
# Save to /data/clean/
df.to_csv('../data/clean/media_campaign_data_clean.csv', index=False)
print("‚úÖ Cleaned dataset saved successfully.")

‚úÖ Cleaned dataset saved successfully.